  
{% extends "layout.html" %}
{% block content %}
        
        <div>
            <!--<form id="postForm">-->
            {% if current_user.is_authenticated %}
                <button id="resetCard" class="btn btn-light mr-2" value=" Reset ">Reset</button>
                <button id="saveCard" value="Save" class="btn btn-primary ml-2">Save Card</button>
            {% else %}
                <button id="resetCard" class="btn btn-light mr-2" value=" Reset ">Reset</button>
                <button id="pleaseLogin" value="Save" class="btn btn-primary ml-2">Save Card</button>
            
            {% endif %}
                <!--</form>-->
            <!-- <input class="btn btn-light mr-2" type="button" onclick="resetSquareColours()" value=" Reset ">
            <input id="saveButton" class="btn btn-primary ml-2" type="button" value="Save"> -->
        </div>
        <br>
        <div onload="init()">
          <div id="bingo-content">
              <table id="bingo-card">
                  <!-- <tr>
                      <th class="header">B</th>
                      <th class="header">I</th>
                      <th class="header">N</th>
                      <th class="header">G</th>
                      <th class="header">O</th>
                  </tr> -->
                  <tr>
                      <td><input id="sq0" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq1" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq2" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq3" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq4" class="square" type="button" value="&nbsp;"></td>
                  </tr>
                  <tr>
                      <td><input id="sq5" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq6" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq7" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq8" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq9" class="square" type="button" value="&nbsp;"></td>
                  </tr>
                  <tr>
                      <td><input id="sq10" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq11" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq12" class="square .display-3" type="button" value="FREE"></td>
                      <td><input id="sq13" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq14" class="square" type="button" value="&nbsp;"></td>
                  </tr>
                  <tr>
                      <td><input id="sq15" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq16" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq17" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq18" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq19" class="square" type="button" value="&nbsp;"></td>
                  </tr>
                  <tr>
                      <td><input id="sq20" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq21" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq22" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq23" class="square" type="button" value="&nbsp;"></td>
                      <td><input id="sq24" class="square" type="button" value="&nbsp;"></td>
                  </tr>
              </table>
          </div>
        </div>
        <br>
        <!-- <div>
            <input class="btn btn-light mr-2" type="button" onclick="resetSquareColours()" value=" Reset ">
            <input class="btn btn-primary ml-2" type="button" onclick="resetSquareColours()" value="Save">
            
            
        </div> -->
          <!-- <br>
          <div id="buttons">
              <div id="goals">
                  <p>Goals: 
                      <input type="button" class="button" name="line" id="bLine" value="Line" onclick="lineBingo()">
                      <input type="button" class="button" name="full" id="bFull" value="Full Card" onclick="fullBingo()">
                  </p>
              </div>
              <div id="actions">
                  <p>Actions: 
                      <input type="button" class="button" name="call" id="bCall" value="Call" onclick="callNumber()">
                      <input type="button" class="button" name="bingo" id="bBingo" value="Bingo" onclick="checkForBingo()">
                  </p>
              </div>
              <p>Current Call: <p id="currentCall">&nbsp;</p></p>
              <p>Called Numbers: </p>
              <p id="calledNums">None</p>
          </div>
          <p><a href="#" onclick="generateAnotherCard()">Click here</a> to generate a new card</p>
        </div> -->

{% endblock content %}