<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/bingo.js"></script>
    
    


    {% if title %}
        <title>Chicken Shit Bingo! - {{ title }}</title>
    {% else %}
        <title>Chicken Shit Bingo!</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Chicken Shit Bingo!</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="#">Credits: {{ current_user.credits }}</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="message-div"></div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>What's Pooping?</h3>
            <p class='text-muted'>Choose The Squares Where the Chicken Will Poop</p>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Upcoming Pooping Events</li>
                <li class="list-group-item list-group-item-light">How It Works</li>
                <li class="list-group-item list-group-item-light">Past Winners</li>
                <li class="list-group-item list-group-item-light">Our Chickens</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script>
      $(document).ready(function(){
        var clicked;
        $("#saveButton").click(function(){
          //clicked = $(this).attr("name");
          $ajax({
            type: 'POST',
            url: "{{ url_for('test') }}",
            contentType: 'application/json;charset=UTF-8',
            data: [{'sq1': 1},{'sq2': 0}]
          })
        })
      })
    </script> -->
    <!-- <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type=text/javascript>
        $(document).ready(function(){
            $("#saveCard").click(function(){
                var myData = "This is my data."
                $.post("/test",{"myData": myData})
                $("#message-div").append("<div class='alert alert-success'>Your Card Has Been Saved! Check Upcoming Events!</div>")
            })
        });  
    </script>

<!-- 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type=text/javascript>
    $(document).ready(function(){
      function saveCard() {
        var myData = "This is my data."
        //$.post("/test",{"myData": myData})
        $('div.message-div').replaceWith('<div class="alert alert-success">Your Card Has Been Saved!</div>')
      };
    });  
      
      // $(document).ready(function(){
      //   $('#postForm').submit(function(){
      //     //e.preventDefault();
      //     // $.ajax({
      //     //   type: 'POST',
      //     //   url: $SCRIPT_ROOT + '/test',// "{{ url_for('test') }}",
      //     //   contentType: 'application/json;charset=UTF-8',
      //     //   data: {title: 'Title', body: 'Body'}
      //     // });
      //     $.post("{{ url_for('test') }}", {title: 'Title', body: 'Body'}).done(
      //       function(data){
      //         console.log('Post Saved');
      //         console.log(data);
      //       }
      //     )
      //   })
      // })

    </script>
     -->
    <!-- <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>